---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Summary</h3>
<p class="archive__item-excerpt">
Hi, i'm Tan.
I'm 7 years experienced engineer.
</p>
<h3 class="archive__subtitle">Technical Skill</h3>
<p class="archive__item-excerpt">
- PHP (FuelPHP, Laravel, Codeigniter, symfony, Zend): Professional.<br>
- Android	(Java/Kotlin): No need support.<br>
- Javascript (AngularJS, VueJs, Jquery): No need support.<br>
- Mysql: No need support.<br>
- Unix/Linux Server Operation: No need support.<br>
- HTML, CSS: No need support.<br>
</p>

<h3 class="archive__subtitle">Recent Projects</h3>
<p class="archive__item-excerpt">
- Platform construction (2018/06-2018/11) (XXX Corporation)<br>
+ Language: Java<br>
+ Platform: Android 8<br>
+ Technical: Azure cloud, REALM DB, IOT, Firebase Cloud Messaging, Google Analytics
</p>
<p class="archive__item-excerpt">
- Tcross news (https://www.tcross.co.jp/) (2018/04-2018/06)<br>
+ Language: PHP<br>
+ Platform: Website<br>
+ Framework: Drupal
</p>
<p class="archive__item-excerpt">
- Travel service:  (2017/11-2018/04)<br>
A service that allows users to create and purchase trips.<br>
+ Language: PHP<br>
+ Platform: Website<br>
+ Framework: FuelPHP<br>
+ Technical: GMO payment gateway, Amazon RDS, Amazon deployment, Amazon S3, Load balancer, Master and slave DB, Memcached...
</p>
<p class="archive__item-excerpt">
- Japan castle news (http://shirobito.jp) (2017/09-2017/11)<br>
+ Language: PHP<br>
+ Platform: Website<br>
+ Framework: FuelPHP<br>
+ Technical: Amazon RDS, Amazon deployment, Amazon S3
</p>
<p class="archive__item-excerpt">
- English courses (Benesse Corporation) (2016/05-2016/12)<br>
+ Language: Javascript<br>
+ Platform: Website<br>
+ Framework: AngularJS
</p>
<p class="archive__item-excerpt">
- Japan's events news - Meetup - Make friend (https://www.amiple.com/) (2015/06-2018/11)<br>
+ Language: PHP, Java<br>
+ Platform: Website, Android, API<br>
+ Technical: Amazon RDS, Amazon deployment, Amazon S3, Load balancer, Master and slave DB
</p>
